{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'todolist/css/login.css' %}" />

{% endblock meta %} {% block content %}
<body>
  <div class="center">
    <h1>Login</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="field">
        <input type="text" name="username" required />
        <label for="username">Username</label>
        <span></span>
      </div>
      <div class="field">
        <input type="password" name="password" required />
        <label for="password">Password</label>
        <span></span>
      </div>
      <input class="btn login_btn btn-secondary" type="submit" value="Login" />
      <div class="signup-link">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></div>
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</body>

{% endblock content %}
