{% extends 'base.html' %} {% load static %} {% block meta %}
<title>{{page_title}}</title>
<link rel="stylesheet" href="{% static 'todolist/css/register.css' %}" />
{% endblock meta %} {% block content %}

<form method="POST" action="">
  <h1>{{page_title}}</h1>
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <input style="text-align: center" class="btn login_btn btn-secondary" type="submit" name="submit" value="Register" />
</form>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endblock content %}
