{% extends 'base.html' %} {% load static %} {% block meta %}
<title>{{page_title}}</title>
<link rel="stylesheet" href="{% static 'todolist/css/index.css' %}" />

{% endblock meta %} {% block content %}
<script>
  window.CSRF_TOKEN = '{{csrf_token}}';
</script>

<div class="header-bar">
  <div>
    <h3>Hello {{request.user}}</h3>
  </div>
  <div>
    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Task</a>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'todolist:logout' %}">Logout</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form" onsubmit="return false;">
          {% csrf_token %}
          <div class="mb-3">
            <label for="InputTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="InputTitle" />
          </div>
          <div class="mb-3">
            <label for="InputDeskripsi" class="form-label">Deskripsi</label>
            <input type="text" class="form-control" id="InputDeskripsi" />
          </div>
          <button type="submit" class="btn btn-primary" id="submitForm">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<main class="grid"></main>

<script>

  function getTask() {
    fetch("{% url 'todolist:show_json' %}")
      .then((res) => res.json())
      .then((data) => {
        let htmlString = '';
        data.forEach((value) => {
          htmlString += `<article>
            <h3>${value.fields.title}</h3>
            <p>${value.fields.description}</p>
            <button type="submit" class="btn btn-danger btn-sm delete-item" data-item="${value.pk}">Delete</button>
        </article>`;
        });
        document.querySelector('.grid').innerHTML = htmlString;
      });
  }
  
  $(document).ready(function () {
    $('#form').submit(function (e) {
      // preventing from page reload and default actions
      e.preventDefault();
      var title = $('#InputTitle').val();
      var description = $('#InputDeskripsi').val();
      
      // make POST ajax call
      $.ajax({
        method: 'POST',
        url: "add/",
        headers: {"X-CSRFToken": window.CSRF_TOKEN},
        data: {
          title: title,
          description: description,
        },
        success: function (response) {
          // clear the form.
          $('#form').trigger('reset');
          
          $('#staticBackdrop').modal('hide');
          $('.modal-backdrop').remove();
          getTask()
        },
        error: function (xhr, errmsg, err) {
          // alert the error if any error occured
          console.log(xhr.status + ": " + xhr.responseText);
        },
      });
    });
  })
  
  getTask()
</script>
{% endblock content %}
